/* Resets */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

ol, ul {
    list-style: none;
    padding-inline: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


/* Styles */

.search {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.search label {
    margin-left: 25px;
    color: gray;
}

.search input {
    width: 80%;
    margin-left: 10px;
    background-color: lightgray;
    border: none;
    border-radius: 20px;
}

.user-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.user-icons .bell-icon {
    margin-top: -5px;
    margin-right: -25px;
}

.user-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
    margin-top: -5px;
    margin-left: -30px;
}

.nav {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-bar {
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}

.greeting {
    align-self: self-end;
}

.big-user-avatar {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    margin-left: 25px;
}
.big-user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-user-name {
    font-weight: bold;
    grid-area: 2 / 2 / 3;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
}

.nav-links li {
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: blue;
    padding: 5px 20px;
    border-radius: 70px;
}

header {
    box-shadow: 2px 2px 2px lightgray;
}


.sidebar {
    color: white;
    background-color: blue;
}

.side-row {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}

.side-row span {
    align-self: center;
    justify-self: center;
    margin-top: 8px;
}

.side-row .side-nav {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 8px;
}

.sidebar .top, .sidebar .middle {
    margin-bottom: 25px;
}

section {
    background-color: lightgray;
}

.cards-heading {
    font-size: 1rem;
}

.cards {
    background-color: white;
    border-left: 5px solid orange;
    border-radius: 8px;
    padding: 20px 30px 50px 20px;
}

.card-content {
    font-size: 0.8rem;
    color: grey;
    margin-bottom: 50px;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.trending h5, .announcements h5 {
    font-size: 1rem;
}

.trending-bar {
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    background-color: white;
}

.trend-avatar {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    margin-left: 25px;
}

.trend-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.trend-username {
    font-weight: bold;
}

.trend-tag {
    color: gray;
    grid-area: 2 / 2 / 3;
    align-self: self-end;
}

.announce-rows {
    background-color: white;
    background-color: white;
    border-radius: 8px;
    padding: 30px 30px 10px 20px;
}

.announce-content {
    font-size: 0.7rem;
    color: gray;
}

/* Grid Layout */

.card-container {
    display: grid;
    grid-template-rows: 0.5fr, repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-container h5 {
    grid-area: 1 / 1 / 2 / 3;
}
